.container {
    display: flex;
    flex-wrap: wrap;
}
.item{
    border: 1px solid red;
    height: 100px;
    flex-basis: 100%;
    box-sizing: border-box;
}




@media (max-width: 46.1875em) {

}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
   .item{
    flex-basis: 50%
   }
}

@media (min-width: 64em){
    .item{
        flex-basis: 25% ;
    }
}