

.main {
    margin-top: 20px!important;
}
.intro-img{
    width: 100%;
}

.advise {
    height: 100%;
    border: 1px solid #ff8100;
    border-radius: 4px;
}
.advise-title {
    color: white;
    font-weight: 500;
    padding: 14px;
    background: linear-gradient(270deg,#ff8100,#f05225);
    text-transform: uppercase;
}

.contact {
    display: flex;
    padding: 14px;
    align-items: center;
}
.contact-img {
    flex-basis: 20%;
    
}
.contact-img img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #20bcf0
}
.contact-content {
    margin-left: 8px;
    font-size: 14px ;
}
.contact-title{
    font-weight: 500;
    color: #595057
}
.contact-phone,.contact-facebook{
    color: #1890FF;
    display: block;
}
.count-down{
    padding: 14px;
}
.count-down-title{
    text-align: center;
    font-weight: 700;
    color: #595057;
    font-size: 18px;
}
.count-down-content{
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    color: #f05225;
    font-size: 16px;
}

.hotline {
    display: flex;
    align-items: center;
    padding: 14px;
}
.hotline-icon{
    color: #b70100;
    font-size: 20px;
    padding: 8px;
    background-color: #20bcf0;
    line-height: 0;
    border-radius: 50%;
    background-color: #ffefef;
    animation: hotlineBlink ease-in 0.6s infinite alternate  ;

}
.hotline-phone {
    margin-left: 16px;
    color: #f05225;
    font-size: 16px;
    font-weight: 700;
}

.social-network{
    margin-top: 20px;
}
.social-network-item{
    text-align: center;
}
.social-title{
    font-weight: 500;
    color: #595057;
}


.main-title {
    color: #2970b8;
    font-size: 24px;
    font-weight: 600;
    margin: 40px 0 20px 0 ;
    text-align: center;
}
.main-title span {

    border-bottom: 2px solid #0763c6;
  
}

.course-item {
    box-shadow: 0 0 5px 0 hsla(0,0%,64.7%,.75);
    border-radius: 6px;
}
.course-img {
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}
.course-name {
    padding: 10px;
    color: #1890ff;
    font-weight: 500;
    font-size: 18px;
}
.course-teacher {
    padding: 0 10px 10px 10px;
    font-weight: 500;
    color: #595057;
}
.course-teacher span {
    color: red;
}
.courses .col {
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
}

.video-player {
    flex-basis: 70%;
}
.video-list {
    flex-basis: 30%;
    background-color: #ccc;
    overflow-y: scroll;
    height: 480px;

}

.video-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #48708D;
    cursor: pointer;

}
.video-item:hover {
    background-color: #2c536f;
}

.video-img {
    flex-basis: 20%;
}
.video-img img {
    width: 100%;
}
.video-content {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}
.video-course span {
    color: rgb(81, 237, 81);

}

