*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
   text-align: center;
   padding: 50px 0;
   background-color: #ccc;

}
.header-title {
    text-transform: uppercase;
    font-size: 24px;
}
.header-sub-title {
    margin-top: 10px;
    font-size: 18px;
}

.item1{
    background-color: aqua;
    height: 1000px;
}
.item2{
    background-color: red;
    height: 1000px;
}